h1 {
    text-decoration: blue wavy underline;
    letter-spacing: 15px;
    font-size: 80px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: #5fcffc;
    background-color: rgb(89, 151, 0);
    
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    background: orange;
    text-align: center;
    width: 50%;
    font-weight: 900;
    line-height: 2;
}

a {
    text-decoration: none;
   
}
/* h1  {
    color: green;
}

h2  {
    color: magenta;
}

p {
    color: white;
    background-color: black;
}

button {
    color: red;
    background-color: pink;

} */