
/* universal selector */
/* * {
    /* color: pink; */
    /* background-color: cyan;
} */ */

button {
    font-size: 30px;
    color: fefae0;
    background-color: #dda15e;
}

h1,h2 {
    color: #283618;
}

body {
    background-color: #606c38;
}

#back1 {
    background-color: #f4a261;
}

span {
    color: gray;
}

.tag {
    background-color: #e76f51;
    color: #344e41;
}

li a {
    color: #219ebc;
}

span a {
    color: aquamarine;
    background-color: #e76f51;
    text-decoration: none;
}

/* adjacent selector. Target a paragraph after a heading */
h1 + p {
    background-color: pink;
}

/* direct child. One level down */
footer > a {
    color: #fb8500;
}

/* attribute selector */
input[type="password"] {
    color: green;
}

span.tag {
    text-decoration: line-through;
}

a[href*="google"] {
    color: red;
}

a:hover {
    background-color: #e76f51;
    text-decoration: overline;
}

/* pseudo classes */
button:hover {
    background-color: red;
    color: white;
}

/* every 3rd post */
.post:nth-of-type(3n) {
    background-color: #f6bd60;
}

h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color:  purple;
}

p::selection {
    background-color: #e85d04;
}

button:hover {
    background-color: olive;
    font-size: 10px;
}