<%- include('partials/head') %> 


    <%- include('partials/navbar') %> 


    <h1>all the cats</h1>
    <p><ul><% cats.forEach(cat => { %>
        <li><%= cat %> </li>
   <% }); %></ul></p>
   <%- include('partials/footer') %>

