<%- include('partials/head') %> 


<%- include('partials/navbar') %> 

    <h1>home page<%= 4+5+1 %></h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa quidem,
      facilis magnam minima reprehenderit, natus consectetur dolore quia id
      perspiciatis quisquam, neque dignissimos sint. Deserunt totam officia
      assumenda sint magnam?
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias
      dolorem quo libero ea veniam unde laudantium, culpa maxime at porro dolore
      dignissimos, eos optio aliquam quia accusamus inventore quisquam? Ducimus.
    </p>
    <%- include('partials/footer') %>

