<% layout('/layouts/boilerplate') %>

    <h1><%= search.title %></h1>
    <h2><%= search.location %></h2>
    <p>
      <a href="/campgrounds/<%= search._id %>/edit ">Edit</a>
    </p>
    <p>
      <form action="/campgrounds/<%= search._id %>?_method=DELETE " method="post">
        <button>Delete</button>
      </form>
    </p>
    <footer>
      <a href="/campgrounds">All Campgrounds</a>
    </footer>

