section {
    width: 80%;
    height: 800px;
    /* background-image:  url("https://www.mainpost.de/storage/image/1/3/6/5/8995631_fancybox_1u-pup_qPTOAz.jpg");
    background-size: cover;
    background-position: top; */
    background: url(https://www.mainpost.de/storage/image/1/3/6/5/8995631_fancybox_1u-pup_qPTOAz.jpg) center/cover, blueviolet;
    margin: 0 auto;
}

h1 {
    font-size: 100px;
    color: white;
}